@font-face{
    font-family:gotham;
    src:url("/fonts/GothamMedium.ttf");
}

h1 {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1.5em;
}


body {
    background-color: #1d3557;
    color: #f1faee;
    fill: #f1faee;
    font-family: gotham,sans-serif;
}

#chartDiv{
    height: 40em;
    width:auto; 
    /* overflow:scroll; */
}

.twitter {
    color :#a8dadc;
}
    
.mention {
    font-weight: 400;
    fill: #f1faee;
    /* fill:rgb(110, 118, 125); */
}

.button {
    background-color: transparent;
    fill: #A8DADC;
    margin-left: 16em;
    margin-top: 1em;
    margin-bottom: -1.5em;
    border: none;
    transform: rotate(60deg);
    transition-duration: 0.4s;

    display: block;

}
.button__svg {
    width:2em;
    height:2em;
    
}

.button:hover {
    fill: #F1FAEE;
    transform: rotate(180deg);
}

.button:active {
    fill: #457B9D;
    transform: rotate(0deg)
}

.timeText {
    font-size: 3em;
}
.progressBar {
    fill:#e63946;
}
.ticks{
    fill:#457b9d
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

@media(max-width:500px){
    #chartDiv{
        width: 40em;
    }
    .timeText {
        font-size: 2em;
    }

    .timeline_svg .tick text{
        display: none;
    }
}